@import '../styles/mixins.scss';

@mixin char-underline($offset, $color) {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  height: 0;
  bottom: $offset;
  border-bottom: 3px solid $color;
}

c {
  position: relative;
  padding: 9px 0;

  &.selected {
    background-color: rgb(200,240,255);
  }

}

c.label-1::before {
  @include char-underline(6px, rgba(255, 0, 0, 0.3));
}

c.label-2::after {
  @include char-underline(3px, rgba(0, 0, 255, 0.3));
}

d.label-3::after {
  @include char-underline(0px, rgba(0, 255, 120, 0.5));
}
