@import '../styles/mixins.scss';

@mixin hyphens() {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.sample-text {
  font-size: 14px;
  line-height: 28px;
  width: 100%;
  padding: 0;
  cursor: pointer;
  position: relative;

  @include hyphens();
  @include no-user-select();

  &.highlighting {
    cursor: url(../assets/cursor_pencil.png) 0 20, auto;
  }

  &.erasing {
    cursor: url(../assets/cursor_eraser.png) 0 20, auto;
  }
}
