@import "./mixins.scss";

body {
  font-family: monospace;
}

.deselector {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.app-wrapper {
  max-width: 1024px;
  margin: auto;
  padding: 12px;
}

.sample-label-wrapper {
  @include flexbox();
  cursor: pointer;

  &.highlighting {
    cursor: url(../assets/cursor_pencil.png) 0 20, auto;
  }

  &.erasing {
    cursor: url(../assets/cursor_eraser.png) 0 20, auto;
  }
}

.sample {
  margin: 10px;
  padding: 16px 24px;
  border: 1px solid #eee;

  @include flex(2.618);
  @include border-radius(10px);
}

.labels {
  margin: 10px;

  @include flex(1);
}

.title-bar {
  width: 100%;
  margin: 10px;
  font-size: 2em;
  text-align: center;

  svg {
    position: relative;
    top: -4px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
