@import './mixins.scss';

@mixin hyphens() {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.sample-text {
  font-size: 14px;
  line-height: 28px;
  width: 100%;
  padding: 0;
  position: relative;

  @include no-user-select();
}
